@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'anonymous';
    src: url(/fonts/AnonymousPro-Regular.ttf);
}

* {
    font-family: 'anonymous';
}

.body {
    width: 65vw;
    margin-left: auto;
    margin-right: auto;
}


body {
    /* Creating a radial gradient background */
    background: radial-gradient(circle, #7d3232, #3b67f8d1);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250vh;
    margin: 0;
    
    
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-child {
    margin: 0; 
    list-style: none; 
    display: flex; 
    gap: 1rem; 
    padding: 100px 100px;
}

h1 {
    font-size: xx-large;
    color: white;
    animation: appear 1.5s ease-in-out;
}


li {
    font-size: x-small;
    color: white;
    
}

/* File structure lines */
.vertical-line {
    position: absolute;
    left: 21.5%;
    top: 200px;
    width: 1px;
    height: 10%;
    background-color: white;
    z-index: -1;
    animation: appear 1.5s ease-in-out;
}

.vertical-line2 {
    position: absolute;
    left: 25.3%;
    top: 420px;
    width: 1px;
    height: 133%;
    background-color: white;
    z-index: -1;
    animation: appear 1.5s ease-in-out;
}

.horizontal-line2 {
    position: absolute;
    left: 25.3%;
    top: 597px;
    width: 50px;
    height: 1px;
    background-color: white;
    z-index: -1;
    animation: appear 1.5s ease-in-out;
}




h2 {
    font-size: x-large;
    color: white;
    padding: 100px 100px;
    animation: appear 1.5s ease-in-out;
}

h3 {
    font-size: large;
    color: white;
    padding: 100px 0px 10px 100px;
}

h4 {
    font-size: large;
    color: white;
    padding: 0 514px;
}

p {
    font-size: small;
    color: white;
}

.project-image {
    padding: 50px 50px;
}



.project-one {
    display: flex;
    align-items: center;
    padding-left: 100px;
}


.project-two {
    display: flex;
    align-items: center;
}


@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    } to {
        opacity: 1;
        scale: 1;
    }
}

.project {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.projects {
    padding: 0 200px;
}

.project.show {
    opacity: 1;
    transform: scale(1);
}
/* RESPONSIVENESS */

@media (max-width: 2468px) {
    .vertical-line3 {
        left: 33.5%;
    }
    .horizontal-line3 {
        left: 33.5%;
    }
}

@media (max-width: 2400px) {
    .horizontal-line3 {
        left: 34.2%;
    }
}

@media (max-height: 1260px) {
    .vertical-line3 {
        height: 4.3%;
    }
}

@media (max-height: 1080px) {
    .vertical-line3 {
        height: 5%;
    }
}

@media (max-height: 1041px) {
    .vertical-line3 {
        height: 5.2%;
    }
}

@media (max-height: 1000px) {
    .vertical-line3 {
        height: 5.4%;
    }
}

@media (max-width: 2400px) {
    .vertical-line3 {
        left: 34.2%;
    }
}



@media (max-width: 2246px) {
    .vertical-line {
        left: 22%;
    }
    .vertical-line2 {
        left: 26%;
    }
    .horizontal-line2 {
        left:27%
    }
    .vertical-line3 {
        left: 35%;
    }
    .horizontal-line3 {
        left: 35%;
    }

}

@media (max-width: 2246px) {
    .vertical-line2 {
        left: 27%;
    }
}

@media (max-width: 2116px) {
    .vertical-line3 {
        left: 37%;
    }
    .horizontal-line3 {
        left: 37%;
    }
}

@media (max-width: 1920px) {
    .vertical-line3 {
        left: 38.4%;
    }
    .horizontal-line3 {
        left: 38.4%;
    }
}

/* RESPONSIVENESS */
@media (max-width: 1760px) {
    .vertical-line {
        left: 23%;
    }
    .vertical-line2 {
        left: 29%;
    }
    .horizontal-line2 {
        left: 29%
    }

}

/* RESPONSIVENESS */
@media (max-width: 1600px) {
    .vertical-line {
        left: 23%;
    }

}

/* RESPONSIVENESS */
@media (max-width: 1599px) {
    .vertical-line {
        left: 24%;
    }

}

/* RESPONSIVENESS */
@media (max-width: 1352px) {
    .vertical-line {
        left: 24%;
    }

}

/* RESPONSIVENESS */
@media (max-width: 1200px) {
    .vertical-line {
        left: 25%;
    }

}

/* RESPONSIVENESS */
@media (max-width: 900px) {
    .vertical-line {
        left: 28%;
    }

}

/* RESPONSIVENESS */
@media (max-width: 600px) {
    .vertical-line {
        left: 30%;
    }

}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    } to {
        opacity: 1;
        scale: 1;
    }
}