@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'anonymous';
    src: url(/fonts/AnonymousPro-Regular.ttf);
}

/* Alternative font */
@font-face {
    font-family: 'montagus';
    src: url(/fonts/MontaguSlab_120pt-Light.ttf);
}

* {
    font-family: 'anonymous';
}

.body {
    -webkit-font-smoothing: antialiazed;
    -moz-osx-font-smoothing: grayscale;
    width: 65vw;
    margin-left: auto;
    margin-right: auto;
}


body {
    /* Creating a radial gradient background */
    background: radial-gradient(circle, #8c4b4b, #4562c4cd);
    background-repeat: no-repeat;
    background-size: cover;
    height: 230vh;
    margin: 0;
    
    
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-child {
    margin: 0; 
    list-style: none; 
    gap: 1rem; 
}

.namepart {
    display: flex;
}

h3 {
    transition: 0.75s
}

.project:hover h3 {
    color: rgba(255, 189, 47, 0.822);
    font-style: italic;
}

.project-section {
    transition: 0.75s;
}

.project-section:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 16px -16px rgba(0, 0, 0, 0.493);
    z-index: 10;
}

.namepart a {
    transition: 0.75s;
}

.namepart:hover a {
    color: rgba(255, 189, 47, 0.822);
    font-style: italic;
  }

  /*.body:has(.top:hover) .home-top-line {
    background-color: black;
  }

.body:has(.top:hover) .horizontal-line-top {
    background-color: black;
}
*/
#firstname {
    padding: 100px 8px 100px 0px
}

#middlename {
    padding-right: 8px;
    padding-top: 100px;
}

#lastname {
    padding-right: 8px;
    padding-top: 100px;
}

#at {
    padding-right: 8px;
    padding-top: 100px;
}

#tilde {
    padding-top: 100px;
}

h1 {
    opacity: 0;
    font-size: xx-large;
    color: white;
}

ul {
    padding-left: 100px;
}

li {
    font-size: xx-large;
    color: white;
}

#list-item-one {
    opacity: 0;
}

#list-item-one a {
    transition: 0.75s;
}

#list-item-one:hover a {
    color: rgba(255, 189, 47, 0.822);
    font-style: italic;
  }

#list-item-two {
    padding-right: 75px;
}

/* File structure lines */
.vertical-line {
    position: absolute;
    left: 21.5%;
    top: 200px;
    width: 2px;
    height: 10%;
    background-color: white;
    z-index: -1;
    animation: appear 3s ease-in-out;
    mask-image: linear-gradient(to bottom,
    transparent 0%,
    black 20%,
    black 80%,
    transparent 100%);

}

.vertical-line2 {
    position: absolute;
    left: 25.3%;
    top: 420px;
    width: 2px;
    height: 120%;
    /*background: linear-gradient(to bottom, white 50%, white 70%, transparent 100%);*/
    background-color: white;
    z-index: -1;
    animation: appear 3.5s ease-in-out;
    mask-image: linear-gradient(to bottom,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%);
}

.horizontal-line2 {
    position: absolute;
    left: 25.3%;
    top: 597px;
    width: 50px;
    height: 2px;
    background-color: white;
    z-index: -1;
    animation: appear 6s ease-in-out;
    mask-image: linear-gradient(to right,
    transparent 0%,
    black 0%,
    black 50%,
    transparent 100%);
}

/*About me page lines*/

.home-top-line {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background-color: white;
    z-index: -1;
    animation: appear 1.5s ease-in-out;
    transition: 0.3s;
}

.horizontal-line-top {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    width: 200%;
    height: 2px;
    background-color: white;
    z-index: -1;
    transition: 0.3s;
}

.horizontal-line-intro {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 66%;
    height: 2px;
    background-color: white;
    z-index: -1;
    opacity: 0;
    animation: appear 1.5s ease-in-out forwards;
    animation-delay: 1.5s;
    mask-image: linear-gradient(to right,
    transparent 0%,
    black 20%,
    black 80%,
    transparent 100%);
}

/*About me page lines*/
.horizontal-line-stack {
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 33%;
    height: 2px;
    background-color: white;
    z-index: -1;
    opacity: 0;
    animation: appear 1.5s ease-in-out forwards;
    animation-delay: 3s;
    mask-image: linear-gradient(to right,
    transparent 0%,
    black 20%,
    black 80%,
    transparent 100%);
}

.horizontal-line-certificates {
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 33%;
    height: 2px;
    background-color: white;
    z-index: -1;
    opacity: 0;
    animation: appear 1.5s ease-in-out forwards;
    animation-delay: 3.5s;
    mask-image: linear-gradient(to right,
    transparent 0%,
    black 20%,
    black 80%,
    transparent 100%);
}

.intro {
    margin: auto;
    margin-top: 50px;
}

.intro-section1:hover #intro-title {
    color: rgba(255, 189, 47, 0.822);
    font-style: italic;
}

.intro-section1 {
    transition: 0.75s;
}

.intro-section1:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 16px -16px rgba(0, 0, 0, 0.493);
    z-index: 10;
}

.intro-text {
    font-size: large;
    color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    padding-top: 25px;
}


#intro-title {
 text-align: center;
 display: flex;
 justify-content: center;
 font-size: x-large;
 color: white;
 transition: 0.75s;
}


#projectstitle {
    opacity: 0;
    font-size: x-large;
    color: white;
    padding: 100px 100px;
}

h3 {
    font-size: x-large;
    color: white;
    padding: 100px 0px 10px 100px;
}

h4 {
    font-size: large;
    color: white;
    padding: 0 514px;
}

.project-text {
    font-size: medium;
    color: white;
    padding: 50px;
    padding-right: 200px;
    width: 200%;
    line-height: 1.5;
}

.project-image {
    border-radius: 16px;
    max-width: 500px;
    max-height: 300px;

}



.project-one {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 300px;
    padding-left: 50px;
}

.project {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 1s ease-out, transform 5s ease-out;
    margin-bottom: 200px;
}

.projects {
    padding: 0 200px;
}

.project.show {
    opacity: 1;
    transform: scale(1);
}

.wrapper {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 1s ease-out, transform 5s ease-out;
}

.wrapper.showWrapper {
    opacity: 1;
    transform: scale(1);
}

.my-tech-stack {
    text-align: center;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.skills-container {
    transition: 0.75s;
}

.skills-container:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 16px -16px rgba(0, 0, 0, 0.493);
    z-index: 10;
}

.skills-container:hover #tech-stack {
    color: rgba(255, 189, 47, 0.822);
    font-style: italic;
}

#tech-stack {
    color: white;
    font-size: x-large; 
}

.certificates {
    margin-top: 100px;
}

#certificates-title {
    color: white;
    font-size: x-large;

}

.certificate-section {
    transition: 0.75s;
}

.certificate-section:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 16px -16px rgba(0, 0, 0, 0.493);
    z-index: 10;
}

.certificate-section:hover #certificates-title {
    color: rgba(255, 189, 47, 0.822);
    font-style: italic;
}




/* RESPONSIVENESS */

@media (max-width: 3840px) {
    .project-text {
        padding-right: 300px;
    }
}

@media (max-width: 2468px) {
    .vertical-line3 {
        left: 33.5%;
    }
    .horizontal-line3 {
        left: 33.5%;
    }
}

@media (max-width: 2400px) {
    .horizontal-line3 {
        left: 34.2%;
    }
}

@media (max-width: 2170px) {
    .project-text {
        padding-right: 50px;
    }
}

@media (max-width: 1920px) {
    .project-text {
        padding-right: 40px;
    }
}

@media (max-width: 1894px) {
    .project-image {
        max-width: 400px;
    }
}

@media (max-width: 1716px) {
    .project-image {
        max-width: 370px;
    }
}

@media (max-width: 1708px) {
    .project-text {
        padding-right: 30px;
    }
}

@media (max-width: 1628px) {
    .project-text {
        padding-right: 20px;
    }
}

@media (max-width: 1576px) {
    .project-image {
        max-width: 370px;
    }
}

@media (max-width: 1540px) {
    .project-text {
        padding-right: 10px;
    }
}

@media (max-height: 1260px) {
    .vertical-line3 {
        height: 4.3%;
    }
}

@media (max-height: 1080px) {
    .vertical-line3 {
        height: 5%;
    }
}

@media (max-height: 1041px) {
    .vertical-line3 {
        height: 5.2%;
    }
}

@media (max-height: 1000px) {
    .vertical-line3 {
        height: 5.4%;
    }
}

@media (max-width: 2400px) {
    .vertical-line3 {
        left: 34.2%;
    }
}



@media (max-width: 2246px) {
    .vertical-line {
        left: 22%;
    }
    .vertical-line2 {
        left: 26%;
    }
    .horizontal-line2 {
        left:27%
    }
    .vertical-line3 {
        left: 35%;
    }
    .horizontal-line3 {
        left: 35%;
    }

}

@media (max-width: 2246px) {
    .vertical-line2 {
        left: 27%;
    }
}

@media (max-width: 2116px) {
    .vertical-line3 {
        left: 37%;
    }
    .horizontal-line3 {
        left: 37%;
    }
}

@media (max-width: 1920px) {
    .vertical-line3 {
        left: 38.4%;
    }
    .horizontal-line3 {
        left: 38.4%;
    }
}

/* RESPONSIVENESS */
@media (max-width: 1760px) {
    .vertical-line {
        left: 23%;
    }
    .vertical-line2 {
        left: 29%;
    }
    .horizontal-line2 {
        left: 29%
    }

}

/* RESPONSIVENESS */
@media (max-width: 1600px) {
    .vertical-line {
        left: 23%;
    }

}

/* RESPONSIVENESS */
@media (max-width: 1599px) {
    .vertical-line {
        left: 24%;
    }

}

/* RESPONSIVENESS */
@media (max-width: 1352px) {
    .vertical-line {
        left: 24%;
    }

}

/* RESPONSIVENESS */
@media (max-width: 1200px) {
    .vertical-line {
        left: 25%;
    }

}

/* RESPONSIVENESS */
@media (max-width: 900px) {
    .vertical-line {
        left: 28%;
    }

}

/* RESPONSIVENESS */
@media (max-width: 600px) {
    .vertical-line {
        left: 30%;
    }

}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    } to {
        opacity: 1;
        scale: 1;
    }
}

.wrapper {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    height: 100px;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
    rgba(0,0,0,0),
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,1)80%,
    rgba(0,0,0,0));
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin: auto;
}

.certificate-wrapper {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    height: 100px;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
    rgba(0,0,0,0),
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,1)80%,
    rgba(0,0,0,0));
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin: auto;
}

@keyframes scrolleft {
    to {
        left: -200px;
    }
}

@keyframes scrollright {
    from {
        left: -533px;
    }
    to {
        left: calc(533px * 3);
    }
}

.item {
    width: 200px;
    height: 100px;
    background-color: transparent;
    border-radius: 8px;
    position: absolute;
    left: calc(200px * 10);
    display: flex;
    justify-content: center;
    color: white;
    font-size: large;
    font-weight: bold;
    animation-name: scrolleft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.cert {
    width: 533px;
    height: 100px;
    background-color: transparent;
    border-radius: 8px;
    position: absolute;
    left: calc(533px * 3);
    display: flex;
    justify-content: center;
    color: white;
    font-size: large;
    font-weight: bold;
    animation-name: scrollright;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.item1 {
    animation-delay: calc(30s / 10 * (10 - 1) * -1);
}

.item2 {
    animation-delay: calc(30s / 10 * (10 - 2) * -1);
}

.item3 {
    animation-delay: calc(30s / 10 * (10 - 3) * -1);
}

.item4 {
    animation-delay: calc(30s / 10 * (10 - 4) * -1);
}

.item5 {
    animation-delay: calc(30s / 10 * (10 - 5) * -1);
}

.item6 {
    animation-delay: calc(30s / 10 * (10 - 6) * -1);
}

.item7 {
    animation-delay: calc(30s / 10 * (10 - 7) * -1);
}

.item8 {
    animation-delay: calc(30s / 10 * (10 - 8) * -1);
}

.item9 {
    animation-delay: calc(30s / 10 * (10 - 9) * -1);
}

.item10 {
    animation-delay: calc(30s / 10 * (10 - 10) * -1);
}

.item-one {
    animation-delay: calc(30s / 3 * (3 - 1) * -1);
}

.item-two {
    animation-delay: calc(30s / 3 * (3 - 2) * -1);
}

.item-three {
    animation-delay: calc(30s / 3 * (3 - 3) * -1);
}